# Reading data

In [64]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm 
from sklearn.utils import shuffle

In [65]:
PATH = os.path.join("../data", "train_scaled.csv")
data = pd.read_csv(PATH)
data = shuffle(data)
data = data.dropna()
data

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age,gender,test_indication
53174,2.0,0.0,0.0,2.0,2.0,0.0,80.0,1.0,0.0
51576,4.0,5.0,2.0,0.0,0.0,1.0,24.0,0.0,1.0
104218,2.0,0.0,2.0,2.0,2.0,0.0,52.0,0.0,0.0
20463,2.0,1.0,1.0,2.0,1.0,0.0,73.0,1.0,0.0
20505,2.0,0.0,0.0,1.0,2.0,0.0,29.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...
94751,2.0,1.0,0.0,0.0,1.0,0.0,22.0,0.0,0.0
70720,0.0,0.0,1.0,0.0,1.0,0.0,63.0,1.0,0.0
9063,0.0,0.0,1.0,0.0,0.0,0.0,19.0,0.0,0.0
56336,2.0,1.0,0.0,2.0,2.0,0.0,45.0,1.0,0.0
21200,0.0,2.0,2.0,2.0,2.0,0.0,86.0,1.0,0.0

# Changing scale

In [66]:
## коэффициент одышки 0.4
## коэффициент остальных симптомов 0.5
# %%time
for i in (range(len(data))):
    elem = data.iloc[i]
    for j in range(len(elem[:5])):     ## changing sympthoms
        if j != 3:
            elem[j] = round(0.5 * elem[j])
        else:
            elem[j] = round(0.4 * elem[j])
    
    data.iloc[i] = elem

In [69]:
data.to_csv("train_scaled_2.0.csv", index = False)

In [67]:
data.head()

,cough,fever,sore_throat,shortness_of_breath,head_ache,corona_result,age,gender,test_indication
53174,1.0,0.0,0.0,1.0,1.0,0.0,80.0,1.0,0.0
51576,2.0,2.0,1.0,0.0,0.0,1.0,24.0,0.0,1.0
104218,1.0,0.0,1.0,1.0,1.0,0.0,52.0,0.0,0.0
20463,1.0,0.0,0.0,1.0,0.0,0.0,73.0,1.0,0.0
20505,1.0,0.0,0.0,0.0,1.0,0.0,29.0,1.0,0.0

In [73]:
data["head_ache"].unique()

array([1., 0., 4., 2., 3., 5.])